<div class="container mt-4">
  <mat-card class="p-4">
    <h3>Generate Final Settlement</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Employee</mat-label>
          <mat-select formControlName="employeeId" required>
            <mat-option *ngFor="let emp of employees" [value]="emp.employeeId">
              {{ emp.firstName }} {{ emp.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-12 text-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Generate</button>
      </div>
    </form>
  </mat-card>
</div>
